*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    max-width: 100vw;
    display: flex;
    justify-content: center;
    border: 1rem solid black;
    background-color:lavender;
    padding: 1rem;
    

}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img{
    width: 15rem;
    border-radius: 50%;
}

header h1{
    
    align-self: baseline;
    font-size: 3rem;
}

header p{
    font-weight: 20rem;
}

header .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    
}

main h1{
    font-size: 3.5rem;
    margin: 2rem 0;
    text-align: center;
}

main p{
    line-height: 1.7rem;
    font-size: 1.1rem;
    word-spacing: 1rem;
    margin: 2rem 0;
    text-align: justify;
}
main .list ul{
    
    line-height: 1.7rem;
    font-size: 1.1rem;
    word-spacing: 0.6rem;
    margin: 2rem auto;
    padding-left: 2rem;
}

main .list{
   padding-left: 1rem;
}

.container footer{
    display: flex;
    flex-direction: column;
    align-items: end;

}

@media (min-width:768px){

    .container{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    header img{
        width: 15rem;
        border-radius: 50%;
    }
    
    header h1{
        justify-self: end;
        align-self: baseline;
        font-size: 3rem;
    }
    
    header p{
        font-weight: 20rem;
    }
    
    header .heading{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    
    main{
        
    }
    
    main h1{
        font-size: 3.5rem;
        margin: 2rem 0;
    }
    
    main p{
        line-height: 1.7rem;
        font-size: 1.1rem;
        word-spacing: 1rem;
        margin: 2rem 0;
    }
    main .list ul{
        
        line-height: 1.7rem;
        font-size: 1.1rem;
        word-spacing: 0.6rem;
        margin: 2rem auto;
        padding-left: 2rem;
    }
    
    main .list{
       padding-left: 1rem;
    }
    
    .container footer{
        display: flex;
        justify-content: end;
    }
}