.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box{
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 2s linear 1s;
}

.box:hover{
    /* transform: rotate(360deg); */
    /* size 2 time */
    /* transform: scale(2); */
    /* size half */
    /* transform: scale(0.5); */
    /* rotate negatively */
    /* transform: rotate(-45deg); */
    /* for tilt effect */
    /* transform: skew(-45deg); */
    /* transform: translate(300px, 300px); */
    transform: matrix(0.866,0.7,-0.8,0.866,0,0);
}

p{
    font-size: 26px;
  
}