* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(51, 46, 46);
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    background-color: rgb(111, 111, 227);
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


@media (min-width: 768px) {
    .container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        grid-column: 1 / 4;
    }

    .footer {
        grid-column: 1 / 4;
    }

    .sidebar {
        grid-row-start: 2;
        grid-row-end: 4;
        
    }

    .content1 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
